<li class="comment">
    <div class="comment-body" id="comment-container">
        <p id="artist-name"><a class="comment-author" href="/profile/{{comment.creator}}">{{comment.creator}}</a></p>
        <p class="comment-text text-black">{{comment.text}}</p>
    </div>
</li>