<main>

    <section class="hero-section" id="section_1">
        <div class="section-overlay"></div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-12 mt-auto mb-5 text-center">
                    <small>Reinventing The Music Industry</small>

                    <h1 class="text-white mb-5">Granular Garden</h1>

                    <a class="btn custom-btn smoothscroll" href="/signup">Signup</a>
                </div>

                <div class="share">
                    <div class="date-wrap">
                        <h5 class="text-white">
                            Share Your Samples
                        </h5>
                    </div>

                    <div class="location-wrap py-3 py-lg-0">
                        <h5 class="text-white">
                            Share Your Playlists
                        </h5>
                    </div>

                    <div class="location-wrap py-3 py-lg-0">
                        <h5 class="text-white">
                            Share Your Songs
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="/videos/pexels-2022395.mp4" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    </section>


    <section class="about-section section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="align-items-center">
                    <div class="services-info">
                        <h2 class="text-white mb-4">About Granular Garden</h2>

                        <p class="text-white">Welcome to Granular Garden, a vibrant and groundbreaking application that
                            embraces the soul of music creation and fosters a thriving community of artists, producers,
                            and music enthusiasts. Our platform combines the finest elements of SoundCloud, Splice, and
                            Twitter, crafting an immersive experience that revolutionizes the way artists collaborate,
                            share, and express themselves.</p>

                        <p class="text-white">At Granular Garden, we believe in the power of creativity and the
                            boundless potential of music. Our vision is to cultivate an oasis where artists, producers,
                            and music lovers can come together, grow their talents, and forge connections that transcend
                            boundaries. We offer a harmonious blend of features tailored to fuel inspiration, nurture
                            collaboration, and celebrate the beauty of musical expression.</p>

                        <h6 class="text-white mt-4">For Artists and Producers</h6>

                        <p class="text-white">Granular Garden provides an artist-friendly haven where creators can
                            effortlessly upload and showcase their musical masterpieces. Whether it's a heartwarming
                            melody, an infectious beat, or an entire album, artists have the freedom to share their
                            passion with the world without the fear of takedowns or restrictions. Embrace the spirit of
                            spontaneity by sampling and remixing tracks to your heart's content, and watch your
                            creativity blossom.</p>

                        <h6 class="text-white mt-4">For Music Lovers</h6>

                        <p class="text-white">At Granular Garden, we cater to those who crave something extraordinary.
                            Delight in a vast array of unique, one-of-a-kind tracks, beats, and remixes, not available
                            anywhere else. Discover emerging talents and witness the metamorphosis of artists, all while
                            forging connections with like-minded individuals who share your passion for exceptional
                            music.</p>

                        <h6 class="text-white mt-4">Empowering the Future of Music</h6>

                        <p class="text-white">Granular Garden is more than an application; it's a movement. We strive to
                            empower artists and creators from all walks of life, breaking down barriers and enabling
                            their dreams to flourish. By providing a space where artistic freedom thrives, we aim to
                            shape the future of music and pave the way for innovation and collaboration.</p>
                        <p class="text-white">So, come join us in this dynamic musical ecosystem where sound takes root,
                            creativity blossoms, and the spirit of collaboration flourishes. Let's cultivate a
                            harmonious Granular Garden together and create a symphony that resonates across the world.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="schedule-section section-padding" id="section_4">
        <!-- <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white">Featured Tracks</h2>
                        <div id="featuredTracks">
                            <button class="btn custom-btn d-lg-block d-none audio-btn">Play</button>
                            <h3 class="text-white">Every Moment by northbrook</h3>
                            <audio src="./audio/10_every moment.wav"></audio>
                            <div id="waveform"></div>
                        </div>
                    </div>
                </div>
            </div> -->
    </section>

</main>