<main>

    <section class="ticket-section section-padding">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-10 mx-auto">
                    <form class="signup-form ticket-form mb-5 mb-lg-0" role="form">
                        <h2 class="text-center mb-4">Signup</h2>

                        <div class="ticket-form-body form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="text" id="username-signup"
                                        class="form-control" placeholder="username" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="email" id="email-signup"
                                        pattern="[^ @]*@[^ @]*" class="form-control" placeholder="email address"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-form-body form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="password" id="password-signup"
                                        class="form-control" placeholder="password" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="password" id="confirm-password-signup"
                                        class="form-control" placeholder="confirm password" required>
                                </div>
                            </div>
                            <p id="login-signup-req">Already have an account? <a href="/login">Login</a></p>
                            <button class="btn custom-btn d-lg-block d-none audio-btn" id="signup-btn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    
</main>