<main>

    <section class="ticket-section section-padding">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-10 mx-auto">
                    <form class="custom-form ticket-form mb-5 mb-lg-0 login-form" action="/api/upload" method="post" enctype="multipart/form-data" role="form">
                        <h2 class="text-center mb-4" id="border-bottom">Upload</h2>
                        <div class="col-lg-6 col-10 mx-auto">
                            <div>
                                    <button class="btn custom-btn d-lg-block d-none file-btn">
                                        <input type="file" id="audioFile" name="audioFile" accept="audio/*">
                                        Choose File</button>
                            </div>
                        </div>
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
    </section>

</main>