* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#track-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    /* margin-bottom: 100px; */
    border-bottom: solid 2px #ccc;
}

.track-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.info-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.audio-btn {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100px;
}

.feed {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#border-bottom {
    border-bottom: solid 1px #ccc;
    height: 80px;
}

#artist-name {
    /* padding-top: 200px; */
    flex: 1;
    /* margin-right: 10px; */
    width: 100%;
    /* padding-left: 10px; */
    font-weight: 500;
}

#song-title {
    width: 100%;
    height: 50px;
    /* padding-left: 10px; */
    font-weight: bold;
    font-size: 30px;
}

.waveform {
    position: relative;
    flex: 1;
    min-width: 900px;
    width: 100%;
    /* height: 200px; */
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    margin-top: auto;
    /* margin-bottom: 45px; */
}

input {
    outline: none;
}

#search-container {
    position: relative;
    width: 400px;
    top: 45px;
    right: 90px;
}

#search-bar {
    position: relative;
    width: 100%;
    border-radius: 10px;
}

#search-svg {
    position: relative;
    left: 385px;
    bottom: 59px;
}

.form {
    width: 1100px;
}

.share {
    position: relative;
    left: -15px;
    top: 70px;
    grid-template-columns: 3;
    grid-template-rows: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* .cover-art {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px !important;
} */

#artist-name,
#song-title,
.cover-art {
    margin: 0;
}

.focused-btn {
    outline: none;
    background-color: #7400b8;
}

#audioFile {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#customButton {
    /* Add your custom styles here */
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#upload-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border: solid 1px #ccc;
}

.file-btn {
    position: relative;
    margin-bottom: 20px;
    margin-left: 74px;
    margin-right: 70px;
}

#upload-title {
    width: 100%;
    height: 50px;
    /* padding-left: 10px; */
    font-weight: bold;
}

.form-control {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70%;
}

#login-signup-req {
    margin-top: 20px;
}

.image-container {
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    text-align: center; 
}

.image-container img {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    max-width: 100%; /* Make the image responsive within its container */
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px !important;
}

#view-track {
    margin-bottom: 20px;
    margin-left: 30px;
    color: black;
}

.view-btn {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    background-color: #f0f8ff !important;
    border: solid 1px #ccc !important;
    color: #c77dff !important;
}

.view-btn:hover {
    background-color: #c77dff !important;
    border: solid 1px #c77dff !important;
    color: #f0f8ff !important;
}

#track-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: solid 2px #ccc;
}

#waveform {
    margin-bottom: 45px;
}

.comment-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: solid 1px #ccc;
    padding: 10px;
}

#add-comment-container {
    margin-bottom: 20px;
    border: solid 1px #ccc;
}

.comment-btn {
    position: relative;
    margin-bottom: 20px;
    max-width: 200px;
}

#comment-container {
    background-color: white;
    margin: 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

li {
    list-style-type: none;
}

.comment-author {
    margin-top: 10px;
    margin-left: 20px;
}

.comment-text {
    margin-left: 40px;
}

.header-container {
    border-bottom: solid 1px #ccc;
}